// div ul li a{
//     color: yellowgreen;
// }

div{
    background-color: red;
    ul{
     li{
         list-style-type: none;
         a{
             color: yellowgreen;
         }
     }
    }
}